<template name="home">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">{{ mapObjectFormSettings.panelName }}</h3>
      </div>
      <div class="panel-body">

        {{> quickForm collection='mapObjects' id="MapObjectsForm" type=mapObjectFormSettings.type buttonContent=mapObjectFormSettings.buttonContent doc=mapObjectFormSettings.doc }}

        {{#if mapObjectFormSettings.showAdditiolanButtons }}
          <button type="reset" class="btn btn-default" id="rejectUpdating">Отмена</button>
          {{#quickRemoveButton collection='mapObjects' _id=mapObjectFormSettings.doc._id class="btn btn-danger" onSuccess=onSuccessRemoved}}
            Удалить
          {{/quickRemoveButton}}
        {{ /if }}

      </div>
    </div>

    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Объекты:</h3>
      </div>
      <div class="panel-body">
        {{> reactiveTable settings=reactiveTableSettings}}
      </div>
    </div>

</template>
