<head>
  <title>OpenStreetLeafletDemo</title>
</head>
<template name="mainLayout">

  <div class="container">

    <header class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Testosphera</a>
      </div>
    </header>


    <div class="content">
      {{> Template.dynamic template=nav}}
      {{> Template.dynamic template=main}}
    </div>

  </div>

</template>
