<template name="map">

  <div id="container">
    <h1 class="title">Meteor Leaflet Demo</h1>
    <div id="map" class="map"></div>
  </div>

  <div class="modal fade" id="addNewMapObjectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>

        <div class="modal-body">
          {{> quickForm collection='mapObjects' id="MapObjectsModalForm" type="insert" buttonContent=mapObjectModalFormSettings.buttonContent doc=mapObjectModalFormSettings.doc}}
        </div>

      </div>
    </div>
  </div>

</template>
