<template name="mapPopupMarkerInfo">

  <ul class="list-group">

    <li class="list-group-item">
      {{ mapObjects.simpleSchema.schema.type.label }}: {{ mapObject.type }} [ {{ mapObject.latLon }} ]
    </li>

    <li class="list-group-item">
      {{ mapObjects.simpleSchema.schema.name.label }}: {{ mapObject.name }}
    </li>

    <li class="list-group-item">
      {{ mapObjects.simpleSchema.schema.description.label }}: {{ mapObject.description }}
    </li>

    <li class="list-group-item">
      {{ mapObjects.simpleSchema.schema.severityRating.label }}: {{ mapObject.severityRating }}
    </li>

  </ul>

</template>
