<template name="nav">
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class=container>
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-8">
          <ul class="nav navbar-nav">
            <li ><a href="/">Объекты</a></li>
            <li ><a href="/map">Геопортал</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {{> atNavButton}}
          </ul>
        </div>
      </div>
    </div>
  </nav>
</template>
