body {
  background: #eee;
  color: #666666;
}

/* map styles */

#map {
  min-height: 550px;
  min-width: 100%;
}

/* bootstrap replaces */
.navbar-right {
    margin-right: 5px;
}

/* map markers size */
.icon-custom-size {
  font-size: 20px;
}

.reactive-table tr {
  cursor: alias;
}
